.detail-specialty-container {
    margin-top: 105px;
    display: flex;
    flex-direction: column;

    .description-specialty {}

    .search-sp-doctor {
        select {
            border: none;
            outline: none;
            background-color: #fff;
            box-shadow: 0 1px 6px #20212447;
            padding: 8px;
        }
    }

    .detail-special-body {
        margin: 0 100px;

        .each-doctor {
            display: flex;
            width: 100%;
            min-height: 300px;
            margin: 15px 0;
            padding: 10px;
            background-color: #fff;
            box-shadow: 0 1px 6px #20212447;
            border-radius: 8px;


            .dt-content-left {
                width: 50%;
                border-right: 1px solid #ddd;

                .profile-doctor {
                    .up {
                        color: #45c3d2;
                        font-size: 18px;
                        font-weight: 400;

                    }
                }

                .more-doctor-infor {
                    margin-top: 8px;
                    color: #45c3d2;
                    cursor: pointer;
                }
            }

            .dt-content-right {
                width: 50%;
                margin-left: 8px;

                .doctor-schedule {
                    border-bottom: 1px solid #ddd;
                }

                .doctor-extra-infor {
                    margin-top: 8px;
                }

                .doctor-schedule-container {
                    border-right: none !important;
                }
            }
        }

    }


}