.booking-modal-container {
    .booking-modal-content {

        display: flex;
        flex-direction: column;

        .booking-modal-header {
            padding: 10px;
            border: 1px solid #ccc;

            .left {
                font-weight: 600;
                font-size: 16px;
                color: #333;
            }

            .right {
                float: right;
                cursor: pointer;
            }
        }

        .booking-modal-body {
            height: 100%;
            padding: 15px;
        }

        .booking-modal-footer {
            border-top: 1px solid #ccc;
            padding: 10px;
            display: flex;
            justify-content: flex-end;
            gap: 15px;

            button {
                border: none;
                outline: none;
                border-radius: 3px;
            }

            .is-comfrim-loading {
                margin-right: 8px;
                font-size: 20px;
                justify-content: center;
                align-items: center;
                animation: mymove 0.5s linear infinite;
            }



            @keyframes mymove {
                100% {
                    transform: rotate(360deg);
                }
            }

            .btn-booking-cancle {
                background-color: orange;
            }

            .btn-booking-confirm {
                background-color: grey;
            }

        }

    }
}